
sphinx<7
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx_issues
sphinx_gallery
nbsphinx
git+https://github.com/AtrCheema/AI4Water.git@dev
git+https://github.com/Sara-Iftikhar/easy_mpl.git
seaborn


tensorflow==2.10.1
tensorflow_probability==0.16.0
numpy==1.21.6
ngboost==0.4.1
shap==0.41.0
